<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178171650332-2p2bqld5klqkdekno40oakrhlb68otsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178171650332-2p2bqld5klqkdekno40oakrhlb68otsn</string>
	<key>API_KEY</key>
	<string>AIzaSyDdFfUwA9C8lrRWObmZm_8vVMd3uG8IZxA</string>
	<key>GCM_SENDER_ID</key>
	<string>178171650332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crypto.insider</string>
	<key>PROJECT_ID</key>
	<string>crypto-insder</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-insder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178171650332:ios:668cf2e23cd2fccd769ad9</string>
</dict>
</plist>